*{
margin:0px;
padding:0px;
box-sizing:border-box;
}

body{
    background-color: #000;
    color: white;
}

header{
    position: relative;
    width: 100%;
    height: 90px;
    box-shadow: 0 0 10px black;
    background-color: aliceblue;
    opacity: 0.7;
    border-bottom: 2px solid #000;
}

.Header-Right {
    width: 80%;
    height: auto;
    font-size: 15px;
    font-family: 'Vazir',sans-serif;
    text-align: center;
    float: right;
}

.Header-Right ul{
    padding: 2%;
    overflow: hidden;
    margin: 10px 2%;
}

.Header-Right ul li{
    display: inline;
}

.Header-Right ul li a{
    padding: 15px 30px;
    text-decoration: none;
    font-weight: 400;
    margin: 2px 10px 2px 20px;
    color: #000;
    transition: all ease-in 0.5s;
}


.Header-Right ul li a:hover{
    padding-right: 50px;
    border-bottom: 1px solid #040404;
    transition: all 1s ease-out;
    padding-left: 50px;
    color: rgb(255 9 0);
}


.Header-Right ul li a:focus{
    padding-right: 50px;
    border-radius: 8px;
    transition: all 1s ease-out;
    padding-left: 50px;
    color: #ff3608;
}

.Header-Left{
    width: 20%;
    height: 60px;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    color:#000;
    font-weight: 700;
    font-family: cursive;
}

.Main{
    background: url("../img/Sherkat.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 640px;
    background-attachment: fixed;
}

.Main h3{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Vazir',sans-serif;
    float: right;
    position: absolute;
    top: 17%;
    animation: Slide-Right 1s forwards;
    right: 7%;
    color: white;
}
.Main h2{
    font-size: 50px;
    font-weight: 600;
    font-family: 'Vazir',sans-serif;
    padding: 22px;
    position: absolute;
    bottom: 8%;
    left: 3%;
    animation: Slide-Bottom 1s forwards;
    color: white;   
}

.Main h3 span{
    font-size: 25px;
    font-weight: bold;
    color: antiquewhite;
    text-shadow: 10px 12px 4px red;
}

.Roposh{
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.Ashenaee{
    background: beige;
    width: 100%;
    height: 700px;
    box-shadow: 0 0 1px black;
}

.Ashenaee .Ashenaee-Right{
    background: beige;
    width: 50%;
    height: 100%;
    float: right;
}

.Ashenaee .Ashenaee-Left{
    background: #000;
    width: 50%;
    height: 100%;
    float: right;
}

.Ashenaee-Left img{
    width: 100%;
    height: 100%;
    opacity: 0.8;
}






/* animation: Slide-Top 1s 0.5s forwards; */

@keyframes Slide-Top {

    0%{
        transform: translateY(50px);
    }

    100%{
        transform: translateY(0px);
    }

}

@keyframes Slide-Right {
    0%{
        transform: translateX(50px);
    }

    100%{
        transform: translateX(0);
    }
}

@keyframes Slide-Bottom {
    0%{
        transform: translateY(50px);
    }
    100%{
        transform: translateY(0)
    }
}

